@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*Default styles begin*/
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fffaf1;
  font-size: 1.6rem;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline:none;
  cursor:pointer;
}

img {
  display: block;
}
/*Default styles end*/

.container {
  /* width: calc(100% - 40px); */
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.header-container {
  padding: 10px;
  background-color: #fcda84;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.menu__item {
  position: relative;
}

.menu__link {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}

.menu__link:after {
  content: '';
  position: absolute;
  top: 90%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 0.4s ease;
}

.menu__item:hover .menu__link:after {
  width: 100%;
  transition: 0.4s ease;
}

@media screen and (max-width: 900px) {
  main {
    padding-top: 35px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .header-container {
    padding: 5px 10px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 200px;
    z-index: 10;
    transition: all 0.3s ease;
  }
  .header__menu.active {
    left: 0;
    transition: all 0.3s ease;
  }
  .menu__list {
    display: block;
    padding: 100px 20px 20px 35px;
    background-color: rgba(252, 218, 132, 0.952);
    height: 100%;
  }
  .menu__item {
    padding: 10px 0;
  }
}

/****/
.burger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 25px;
  z-index: 15;
}

@media screen and (max-width: 900px) {
  .burger {
    display: block;
  }
}

.burger:before,
.burger:after {
    content: '';
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.4s ease;
}

.burger:before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

.burger__span {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 3px;
    top: 11px;
    transition: all 0.4s ease;
}

.burger.active .burger__span{
    transform: scale(0);
    transition: all 0.4s ease;
}

.burger.active:before {
    transform: rotate(45deg);
    top: 11px;
    transition: all 0.4s ease;
}

.burger.active:after {
    transform: rotate(-45deg);
    bottom: 11px;
    transition: all 0.4s ease;
}


.container-main {
  display: flex;
}

@media screen and (max-width: 900px) {
  .container-main {
    flex-direction: column;
  }
}

.sec-padding {
  padding: 12px 25px;
}

.left-section {
  width: 30%;
  background-color: #68625c;
}

.right-section {
  width: 70%;
  background-color: #fcedce;
  padding-top: 40px;
}

.right-section article:last-child {
  padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .left-section {
    width: 100%;
  }
  
  .right-section {
    width: 100%;
    padding-top: 10px;
  }
}

.title-for-validatior {
  display: none;
}

.introduce-block {
  padding: 25px 25px;
  background-color: #f8b47d;
  text-align: center;
}

.main-photo {
  margin: 0 auto;
  width: 240px;
  max-width: 100%;
  border-radius: 2px;
}

h1 {
  position: relative;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 25px 0 15px 0;
}

h1:after {
  content: '';
  position: absolute;
  top: 92%;
  left: calc(50% - 25px);
  width: 55px;
  height: 5px;
  background-color: #000;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding-top: 5px;
}

.contact-block {
  margin-top: 10px;
  color: #ffe8b8;
}

.contacts__link {
  color: #fff;
  transition: 0.3s ease;
}

.contacts__link:hover {
  color: #f8b47d;
  transition: 0.3s ease;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 5px;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #f8b47d;
}

h3 i {
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  .contacts {
    margin-left: 20px;
  }
  h3 {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .contacts {
    margin-left: 0;
  }
}

.contacts__item {
  font-size: 1.8rem;
  padding: 10px 0;
}

.contacts__item i {
  margin-right: 8px;
}

.skills__list {
  margin-left: 20px;
}

.skills__item {
  list-style: circle inside;
  margin: 10px 0;
}

.skills__name {
  font-weight: 700;
  text-decoration: underline #ff9900;
}

.techno-skills__list {
  margin-left: 25px;
}

.techno-skills__item {
  list-style: square inside;
  margin: 4px 0;
  font-style: italic;
  font-weight: 600;
}

.techno-skills__description {
  font-style: normal;
  font-weight: 400;
}


.works-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1350px) {
  .works-wrapper {
    flex-direction: column;
  }
}

.work {
  margin: 0 5px;
  padding: 10px 10px;
  transition: 0.3s ease;
}

.work:hover {
  background-color: #ffd18c;
  transition: 0.3s ease;
}

.work__icon {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1350px) {
  .work__icon {
    width: 400px;
  }
  .work {
    margin: 25px 10px;
  }
}

.work__name {
  font-weight: 600;
  color: #ff5f01;
  padding: 7px 0;
  text-align: center;
  transition: 0.2s ease;
}

.work__description {
  font-size: 1.5rem;
  padding: 2px;
  transition: 0.2s ease;
}

@media screen and (max-width: 1350px) {
  .work__name {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .work__description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

.work__description p {
  margin: 5px 0;
}

.work__tech span {
  font-weight: 600;
  font-style: italic;

}

pre {
  white-space: pre-line;
  border-radius: 1%;
  max-width: 70rem;
  margin-bottom: 0;
}


.education__item {
  padding: 10px;
}

.education__item:nth-child(2n) {
  background-color: #fae6b3;
}

.education__item:nth-child(2n + 1) {
  background-color: #ffedca;
}

.education__item p {
  margin: 2px 0;
}

.education__year {
  font-style: italic;
}

.education__institution {
  font-weight: 600;
}

.foooter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcda84;
  padding: 10px;
}

.footer__elem {
  padding: 0 40px;
}

@media screen and (max-width: 510px) {
  .footer__elem {
    padding: 0 10px;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.git-link {
  font-size: 30px;
  color: #762d94;
}

.git-link:active {
  color: #000;
}

.git-link span {
  font-size: 16px;
  font-weight: 600;
}
