/*Default styles begin*/
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
  --main-color: #f8b47d;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fffaf1;
  font-size: 1.6rem;
}

h1, h2, h3, h4, p {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline:none;
  cursor:pointer;
}

img {
  display: block;
}
/*Default styles end*/

.container {
  width: calc(100% - 40px);
  max-width: 1366px;
  margin: 0 auto;
}

.header-container {
  margin: 5px auto;
  padding: 10px;
  background-color: #fcda84;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.menu__item {
  position: relative;
}

.menu__item:after {
  content: '';
  position: absolute;
  top: 90%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 0.4s ease;
}

.menu__item:hover.menu__item:after {
  width: 100%;
  transition: 0.4s ease;
}

.menu__link {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}



/****/
.burger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
}

.burger:before,
.burger:after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.4s ease;
}

.burger:before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

.burger__span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.4s ease;
}

.burger.active .burger__span{
    transform: scale(0);
    transition: all 0.4s ease;
}

.burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.4s ease;
}

.burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.4s ease;
}


.container-main {
  display: flex;
}

.sec-padding {
  padding: 15px 25px;
}

.left-section {
  width: 30%;
  background-color: #68625c;
}

.right-section {
  width: 70%;
  background-color: #fcedce;
}

.introduce-block {
  padding: 25px 25px;
  background-color: #f8b47d;
  text-align: center;
}

.main-photo {
  margin: 0 auto;
  width: 240px;
  max-width: 100%;
  border-radius: 2px;
}

h1 {
  position: relative;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 25px 0 15px 0;
}

h1:after {
  content: '';
  position: absolute;
  top: 92%;
  left: calc(50% - 25px);
  width: 55px;
  height: 5px;
  background-color: #000;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding-top: 5px;
}

.contact-block {
  margin-top: 10px;
  color: #ffe8b8;
}

.contacts__link {
  color: #fff;
  transition: 0.3s ease;
}

.contacts__link:hover {
  color: #f8b47d;
  transition: 0.3s ease;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 5px;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #f8b47d;
}

.contacts__item {
  font-size: 2rem;
  padding: 10px 0;
}

.contacts__item i {
  margin-right: 8px;
}







/* header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 0 1rem 1rem 1rem;
}

@media screen and (max-width: 900px) {
  header {
      padding-right: 20px;
      padding-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  header {
      flex-wrap: wrap;
  }
}

h1 {
  position: relative;
  margin-bottom: 3.5rem;
  font-size: 4.5rem;
  color: #141814;
}

h1::after {
  content: '';
  position: absolute;
  width: 9rem;
  height: 0.5rem;
  top: 120%;
  left: 39%;
  background-color: #f7a23b;
}

.header__info {
  text-align: center;
}

.title-name {
  font-size: 2rem;
}

.avatar {
  margin: 20px;
  width: 26rem;
}

.avatar__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2%;
  border: solid 5px #e4a144;
}

.main-block {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

aside {
  width: 29%;
  height: 100%;
  background-color: #f8b47d;
}

main {
  padding: 1.5rem;
  width: 70%;
  background-color: #fff;
}

.education {
  padding: 1.5rem 1.5rem 1.5rem 2.7rem;
}

.contact {
  padding: 1.5rem 1.5rem 1.5rem 2.7rem;
  background-color: #faf6eb;
}

aside h2 {
  position: relative;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 700;
}

aside h2::after {
  content: '';
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  top: 145%;
  left: 0%;
  background-color: #000000;
}

.education-item {
  margin: 2rem 0 2rem 0;
}

.education-year {
  font-size: 1.5rem;
  font-weight: 400;
}

.education-institution {
  font-size: 1.7rem;
  font-weight: 500;
}

.education-proffesion {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.contact-info a {
  color: #ca5e05;
}

.contact-item {
  margin: 2rem 0 2rem 0;
  font-size: 1.7rem;
  font-weight: 500;
}

.contact-detail {
  font-size: 1.5rem;
  font-weight: 400;
}

.edu-margin {
  margin-bottom: 0.3rem;
}

main section {
  margin: 0 1rem 3rem 1rem;
}

main h2 {
  position: relative;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: 700;
}

main h2::after {
  content: '';
  position: absolute;
  width: 7rem;
  height: 0.4rem;
  top: 145%;
  left: 0%;
  background-color: #f7a23b;
}

.bio-p {
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.skill-list {
  padding: 0;
}
.skill-item {
  list-style: circle inside;
  margin-bottom: 1rem;
}

.skill-item-name {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline #ff9900;
}

.skill-item ul {
  margin-top: 1rem;
}

.skill-item-techno {
  list-style: square inside;
  margin-bottom: 1rem;
}

.skill-item-name-techno {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 2rem;
}

.example p {
  margin-bottom: 1rem;
}

.example pre {
  white-space: pre-line;
  background-color: #f3f1ec;
  padding-left: 2rem;
  border-radius: 1%;
  max-width: 50rem;
}

.example code {
  font-size: 1.4rem;
}

footer {
  margin: 0 1rem 1rem 1rem;
  background-color: #f0e9d6;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.links a {
  color: #000;
}

.git {
  margin: 1rem 3rem 1rem 10rem;
  padding: 0.5rem;
  border-radius: 10%;
  transition: 0.7s ease;
}

.git:hover {
  background-color: #f0a466;
  transition: 0.7s ease;
}

.git p {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.git-footer-icon {
  width: 3rem;
  height: 3rem;
}

.rss {
  margin: 1rem 3rem 1rem 3rem;
  padding: 0.5rem;
  border-radius: 10%;
  transition: 0.7s ease;
}

.rss:hover {
  background-color: #f0a466;
  transition: 0.7s ease;
}

.rss p {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.rss-footer-icon {
  width: 6rem;
  height: 3.5rem;
}

.year {
  margin: 3.5rem 15rem 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.contact-item::before {
  color: #2ca35e;
} */


